{% extends 'admin-base.html' %}
{% load base_tags %}
{% block csslink %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css" integrity="sha256-ze/OEYGcFbPRmvCnrSeKbRTtjG4vGLHXgOqsyLFTRjg=" crossorigin="anonymous" />
{% endblock %}
{% block content %}
<div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
        <div class="row">
            <div class="col">
                <h3 class="page-title">Update Payslip - <span class="text-muted">{{payslip.employee_name}}</span></h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                    <li class="breadcrumb-item active">Update Payslip</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /Page Header -->

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title mb-0">Customer Entry Form2</h4>
                </div>
                <div class="card-body">
                    <form method="post" id="payslip-form-update" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label">Employeer:</label>
                                    <div class="col-lg-9">
                                        <input class="form-control" value="{{payslip.after_approved_tep.workpass.company_name.company_name}}" type="text" disabled>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label">Designation:</label>
                                    <div class="col-lg-9">
                                        <input class="form-control" value="{{payslip.after_approved_tep.workpass.job.designation}}" type="text" disabled>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label">Payslip Date (From):</label>
                                    <div class="col-lg-9">
                                        <input class="form-control" value="{{payslip_date_from}}" type="date" name="payslip-from" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label">Basic Pay:</label>
                                    <div class="col-lg-9">
                                        <input class="form-control" value="{{payslip.basic_pay}}" type="number" name="basic-pay" placeholder="Basic Pay"  required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label">Advance:</label>
                                    <div class="col-lg-9">
                                        <input class="form-control" value="{{payslip.advance}}" type="number" name="advance" placeholder="Advance">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label">Date Of Payment:</label>
                                    <div class="col-lg-9">
                                        <input class="form-control" value="{{payment_date}}" type="date" name="date-of-payment" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label">Overtime Payment Periods:</label>
                                    <div class="col-lg-9">
                                        <input class="form-control" value="{{payslip.overtime_payment_period}}" type="number" name="overtime-payment" placeholder="Overtime Payment Periods">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label">Other:</label>
                                    <div class="col-lg-9">
                                        <input class="form-control" value="{{payslip.other_additional}}" type="number" name="other-additional" placeholder="Other Additional">
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-6">
                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label">Employee:</label>
                                    <div class="col-lg-9">
                                        <input placeholder="Employee Name" value="{{payslip.after_approved_tep.workpass.name}}" class="form-control" type="text" disabled>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label">NRIC/FIN NO:</label>
                                    <div class="col-lg-9">
                                        <input class="form-control" value="{{payslip.after_approved_tep.workpass.fin_number}}" type="text" disabled >
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label">Payslip Date (To):</label>
                                    <div class="col-lg-9">
                                        <input class="form-control" value="{{payslip_date_to}}" type="date" name="payslip-to" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label">Total Allowance:</label>
                                    <div class="col-lg-9">
                                        <input class="form-control" value="{{payslip.total_allowance}}" type="number" name="total-allowance" placeholder="Total Allowance">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label">Employee CPF Deduction:</label>
                                    <div class="col-lg-9">
                                        <input class="form-control" value="{{payslip.employee_cpf_deduction}}" type="number" name="emp-cpf-deduction" placeholder="Employee CPF Deduction">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label">Mode Of Payment:</label>
                                    <div class="col-lg-9">
                                        <select name="mode-of-payment" required>
                                            <option value="">Select Payment Mode</option>
                                            {% for pay_mode in payment_mode %}
                                                {% if pay_mode == payslip.mode_of_payment %}
                                                <option value="{{pay_mode}}" selected>{{pay_mode}}</option>
                                                {% else %}
                                                <option value="{{pay_mode}}">{{pay_mode}}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label">Overtime Hours Worked:</label>
                                    <div class="col-lg-9">
                                        <input class="form-control" value="{{payslip.overtime_work_hours}}" type="number" name="overtime-hours" placeholder="Overtime Hours Worked">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label">Employee's CPF Contributions:</label>
                                    <div class="col-lg-9">
                                        <input class="form-control" value="{{payslip.employee_cpf_contribution}}" type="number" name="emp-cpf-contribution" placeholder="Employee's CPF Contributions">
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                        <input type="submit" id="submit-btn" class="btn btn-primary btn-sm">
                        <div id="submit-spinner" class="spinner-border spinner-border-sm" role="status" style="display: none;">
                            <span class="sr-only"></span>
                        </div>
                        <span id="error-message" class="text-danger"></span>
                        <span id="file-load-message" class="text-success"></span>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block jslink %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js" integrity="sha256-+C0A5Ilqmu4QcSPxrlGpaZxJ04VjsRjKu+G82kl5UJk=" crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
      $('select').selectize({
      });
  });
</script>
<!-- --------------------------------------------------------- -->

<script>
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
        }
    var csrftoken = getCookie('csrftoken');
    $("#payslip-form-update").submit(function(e) {
        e.preventDefault();
        let get_spinner = document.getElementById('submit-spinner');
        let submit_btn = document.getElementById('submit-btn');
        let error_message= document.getElementById('error-message');
        submit_btn.setAttribute('disabled', '')
        get_spinner.style.display = '';
        var formData = new FormData(this);
        formData.append('csrfmiddlewaretoken', $('input[name="csrfmiddlewaretoken"]').val())
            // Updating
            $.ajax({
                    type: 'POST',
                    url: '/client-management/payslip-generate-api-form/{{after_tep.id}}/{{payslip.id}}/{{return_url}}',
                    data: formData,
                    processData: false,
                    contentType: false,
                    beforeSend: function(xhr, settings) {
                            xhr.setRequestHeader('X-CSRFToken', csrftoken);
                        },
                    mimeType: 'multipart/form-data',
                    success: function(res){
                              get_spinner.style.display = 'none';
                              submit_btn.removeAttribute('disabled', '');
                              res = JSON.parse(res)
                              console.log(res)
                              if (res.status != 'success'){
                                  error_message.innerText = res.msg;
                              }else{
                                window.location = res.return_url;
                              }
                            },
                        error: function(error) {
                          get_spinner.style.display = 'none';
                          submit_btn.removeAttribute('disabled', ''); 
                          error_message.innerText = error;
                    }
                });
      })
</script>
{% endblock %}