{% extends 'admin-base.html' %}
{% load static %}
{% load base_tags %}

{% block content %}
<div class="content container-fluid">
				
    <!-- Page Header -->
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Candidate List</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                    <li class="breadcrumb-item active">Candidate List</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /Page Header -->
    
    {% if messages %}
        {% for message in messages %}
            {% if 'success' == message.tags %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>Message : {{message}}</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
            {% else %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>Message : {{message}}</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}

    <!-- Search Filter -->
    <form method="get">
    <div class="row filter-row">
            <div class="col-sm-6 col-md-3">  
                <div class="form-group form-focus">
                    <input type="text" class="form-control floating" name="candidate-name">
                    <label class="focus-label">Candidate Name</label>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">  
                <div class="form-group form-focus">
                    <input type="text" class="form-control floating datetimepicker" name="dob">
                    <label class="focus-label">DOB</label>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <input type="submit" class="btn btn-success btn-block" value="Search"> 
            </div>
    </div>
    <div class="search-result">
        {% if candidate_name or candidate_dob %}
        <h6>Name:<u> {{candidate_name}}</u> | DOB: <u>{{candidate_dob}}</u></h6>
        <h6>{{result_cnt}} Results found |
            <a href="/agent-candidate/agent-candidate-search" class="text-primary">Clear Filter</a>
        </h6>
        {% endif %}
    </div>
    </form>
    <!-- Search Filter -->
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-striped custom-table mb-0 datatable">
                    <thead>
                        <tr>
                            <th style="width: 30px;">#</th>
                            <th>AgentName</th>
                            <th>Code</th>
                            <th>CandName</th>
                            <th>DOB</th>
                            <th>Status</th>
                            <th>More</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for candidate in candidates %}
                            <tr>
                                <td>{{forloop.counter|forcounter_serialno:candidates}}</td>
                                <td>{{candidate.agent.agent_id|column_num_to_name}} - {{candidate.agent.name}}</td>
                                <td>{{candidate.agent.agent_id|column_num_to_name}}{{candidate.code_number}}</td>
                                <td>{{candidate.candidate_name}}</td>
                                <td>{{candidate.candidate_dob|null_handle}}</td>
                                <td>{{candidate.status.title|null_handle}}</td>
                                <td><a href="/agent-candidate/agent-management-candidate-form/{{candidate.id}}/{{return_url}}">click</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <br>
                <div>
                    {% if candidates.has_other_pages %}
                        <ul class="pagination">
                            {% if candidates.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="{{current_url}}page={{candidates.previous_page_number}}">Previous</a>
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1">Previous</a>
                                </li>
                            {% endif %}

                            {% for page in candidates.paginator.page_range %}
                                {% if candidates.number == page %}
                                    <li class="page-item active">
                                        <a class="page-link" href="{{current_url}}page={{page}}">{{ page }}</a>
                                    </li>
                                {% elif page > candidates.number|add:'-10' and page < candidates.number|add:'10' %}
                                    <li class="page-item">
                                        <a class="page-link" href="{{current_url}}page={{page}}">{{ page }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}

                            {% if candidates.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="{{current_url}}page={{candidates.next_page_number}}">Next</a>
                                </li>
                            {% else %}
                                <li class="page-item disable">
                                    <a class="page-link" href="#">Next</a>
                                </li>
                            {% endif %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}