{% extends 'admin-base.html' %}
{% load static %}
{% load base_tags %}

{% block content %}
<div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Assigned Candidate List</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                    <li class="breadcrumb-item active">Assigned Candidate List</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /Page Header -->

    {% if messages %}
        {% for message in messages %}
            {% if 'success' == message.tags %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>Message : {{message}}</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
            {% else %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>Message : {{message}}</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}

    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-striped custom-table mb-0 datatable">
                    <thead>
                        <tr>
                            <th style="width: 30px;">#</th>
                            <th>CompanyID</th>
                            <th>CompanyName</th>
                            <th>Candidates</th>
                            <th>Copy</th>
                            <th>View</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for comp in companies %}
                            <tr>
                                <td>{{forloop.counter|forcounter_serialno:companies}}</td>
                                <td>{{comp.company.company_id}}</td>
                                <td>{{comp.company.company_name}}</td>
                                <td>{{comp.candidates.all.count}}</td>
                                <td>
                                    <button class="btn btn-light btn-sm"
                                    onclick="copyClipboard('https://myindiaoverseas.pythonanywhere.com/agent-candidate/read-only-candidate-page/{{comp.id}}/{{comp.unique_id}}')">
                                        <i class="fa fa-clipboard" title="Copy Link (All Candidates: {{comp.company.company_name}})"></i>
                                    </button>
                                </td>
                                <td><a href="/agent-candidate/assigned-candidate-view-page/{{comp.id}}">click</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <br>
                <div>
                    {% if candidates.has_other_pages %}
                        <ul class="pagination">
                            {% if candidates.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="{{current_url}}page={{candidates.previous_page_number}}">Previous</a>
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1">Previous</a>
                                </li>
                            {% endif %}

                            {% for page in candidates.paginator.page_range %}
                                {% if candidates.number == page %}
                                    <li class="page-item active">
                                        <a class="page-link" href="{{current_url}}page={{page}}">{{ page }}</a>
                                    </li>
                                {% elif page > candidates.number|add:'-10' and page < candidates.number|add:'10' %}
                                    <li class="page-item">
                                        <a class="page-link" href="{{current_url}}page={{page}}">{{ page }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}

                            {% if candidates.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="{{current_url}}page={{candidates.next_page_number}}">Next</a>
                                </li>
                            {% else %}
                                <li class="page-item disable">
                                    <a class="page-link" href="#">Next</a>
                                </li>
                            {% endif %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block jslink %}
<script>
    function copyClipboard(copyurl) {
        navigator.clipboard.writeText(copyurl);
    }
</script>
{% endblock %}