{% load static %}
{% load base_tags %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
        <title>My India Overseas</title>
        <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    </head>
    <body>
        <br>
        <h4>{{comp.company_name}}</h4> <br>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-striped custom-table mb-0 datatable">
                        <thead>
                            <tr>
                                <th style="width: 30px;">#</th>
                                <th>Agent</th>
                                <th>Candidate</th>
                                <th>DOB</th>
                                <th>HighEdu</th>
                                <th>AbroadExp</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for cand in candidates %}
                                <tr>
                                    <td>{{forloop.counter|forcounter_serialno:candidates}}</td>
                                    <td>{{cand.agent.name}}</td>
                                    <td>{{cand.candidate_name}}</td>
                                    <td>{{cand.candidate_dob}}</td>
                                    <td>{{cand.candidate_high_edu}}</td>
                                    <td>{{cand.abroad_exp}}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <br>
                    <div>
                        {% if candidates.has_other_pages %}
                            <ul class="pagination">
                                {% if candidates.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link" href="{{current_url}}page={{candidates.previous_page_number}}">Previous</a>
                                    </li>
                                {% else %}
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                                    </li>
                                {% endif %}
    
                                {% for page in candidates.paginator.page_range %}
                                    {% if candidates.number == page %}
                                        <li class="page-item active">
                                            <a class="page-link" href="{{current_url}}page={{page}}">{{ page }}</a>
                                        </li>
                                    {% elif page > candidates.number|add:'-10' and page < candidates.number|add:'10' %}
                                        <li class="page-item">
                                            <a class="page-link" href="{{current_url}}page={{page}}">{{ page }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
    
                                {% if candidates.has_next %}
                                    <li class="page-item">
                                        <a class="page-link" href="{{current_url}}page={{candidates.next_page_number}}">Next</a>
                                    </li>
                                {% else %}
                                    <li class="page-item disable">
                                        <a class="page-link" href="#">Next</a>
                                    </li>
                                {% endif %}
                            </ul>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <script src="{% static 'assets/js/jquery-3.5.1.min.js' %}"></script>
        <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'assets/js/jquery.slimscroll.min.js' %}"></script>
        <script src="{% static 'assets/js/app.js' %}"></script>
    </body>
</html>