{% extends 'admin-base.html' %}
{% load static %}
{% load base_tags %}
{% block content %}

<!-- Page Header -->
<div class="page-header">
    <div class="row align-items-center">
        <div class="col">
            <h3 class="page-title">Email Credentials</h3>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                <li class="breadcrumb-item active">Email Credentials</li>
            </ul>
        </div>
    </div>
</div>
<!-- /Page Header -->

{% if messages %}
    {% for message in messages %}
        {% if 'success' == message.tags %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>Message : {{message}}</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
        {% else %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Message : {{message}}</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
        {% endif %}
    {% endfor %}
{% endif %}

<!-- Search Filter -->
<div class="main-search">
    <form method="get">
        <div class="input-group">
            <input type="text" name="keyword" class="form-control" placeholder="Search...">
            <div class="input-group-append">
                <input class="btn btn-primary" type="submit" value="Search">
            </div>
        </div>
    </form>
</div>
<div class="search-result">
    {% if keyword %}
        <h6>Search Result Found For:<u> {{keyword}}</u></h6>
    {% endif %}
    <h6>{{result_cnt}} Results found | <a href="/mom-application/email-credentials" class="text-primary">Clear Filter</a></h6>
</div>
<!-- /Search Filter -->

<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-striped custom-table mb-0 datatable">
                <thead>
                    <tr>
                        <th style="text-align:center">CompanyID</th>
                        <th style="text-align:center">CompanyName</th>
                        <th style="text-align:center">Gmail</th>
                        
                        <th class="text-right">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for gmail in gmail_credentials %}
                    <tr>
                        <td style="text-align:center">{{gmail.company.company_id|null_handle}}</td>
                        <td style="text-align:center">{{gmail.company.company_name.title|null_handle}}</td>
                        <td style="text-align:center">
                            <button id="email-btn{{gmail.id}}" href="#" onclick="fetching_new_emails('{{gmail.id}}')" class="btn btn-light btn-sm badge bg-inverse-success">
                                {{gmail.gmail_id}}
                            </button>
                            <div id="email-spinner{{gmail.id}}" class="spinner-border spinner-border-sm" role="status" style="display: none;">
                                <span class="sr-only"></span>
                            </div>
                            <h6 id="error-message{{gmail.id}}" class="text-danger"></h6>
                            <a href="/mom-application/email-list/{{gmail.id}}" id="read-prev-email{{gmail.id}}" class="small text-primary"></a>
                        </td>

                        <td class="text-right">
                            <div class="dropdown dropdown-action">
                                <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="/mom-application/add-email-details/{{gmail.id}}"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete_project{{cpf.id}}"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>

                    <div class="modal custom-modal fade" id="delete_project{{cpf.id}}" role="dialog">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <div class="form-header">
                                        <h3>Delete CPF-ID : {{cpf.id}}</h3>
                                        <p>Are you sure want to delete?</p>
                                    </div>
                                    <div class="modal-btn delete-action">
                                        <div class="row">
                                            <div class="col-6">
                                                <a href="#" class="btn btn-primary continue-btn">Delete</a>
                                            </div>
                                            <div class="col-6">
                                                <a href="javascript:void(0);" data-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </tbody>
            </table> <br>
            <div>
                {% if gmail_credentials.has_other_pages %}
                    <ul class="pagination">
                        {% if gmail_credentials.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="{{current_url}}page={{gmail_credentials.previous_page_number}}">Previous</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1">Previous</a>
                            </li>
                        {% endif %}


                        {% for page in gmail_credentials.paginator.page_range %}
                            {% if gmail_credentials.number == page %}
                                <li class="page-item active">
                                    <a class="page-link" href="{{current_url}}page={{page}}">{{ page }}</a>
                                </li>
                            {% elif page > gmail_credentials.number|add:'-5' and page < gmail_credentials.number|add:'5' %}
                                <li class="page-item">
                                    <a class="page-link" href="{{current_url}}page={{page}}">{{ page }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}

                        {% if gmail_credentials.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="{{current_url}}page={{gmail_credentials.next_page_number}}">Next</a>
                            </li>
                        {% else %}
                            <li class="page-item disable">
                                <a class="page-link" href="#">Next</a>
                            </li>
                        {% endif %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block jslink %}
<script>
    function fetching_new_emails(row_id){
        let email_btn = document.getElementById(`email-btn${row_id}`);
        let get_spinner = document.getElementById(`email-spinner${row_id}`);
        let error_message = document.getElementById(`error-message${row_id}`);
        let read_prev_email = document.getElementById(`read-prev-email${row_id}`);
        get_spinner.style.display = '';
        email_btn.setAttribute('disabled', '');
        $.ajax({
           type: 'GET',
           url: `/mom-application/fetch-new-email/${row_id}`,
           success: function(res){
                   get_spinner.style.display = 'none';
                   if (res.status != 'success'){
                        error_message.innerText = 'Fetching Error!. Please Check Mail ID or App Password..'
                        read_prev_email.innerHTML = 'read previous mails'
                    }else{
                        window.location = `/mom-application/email-list/${row_id}`;
                    };
                    email_btn.removeAttribute('disabled', '');
                },
            error: function(error) {
                get_spinner.style.display = 'none';
                error_message.innerText = 'Error!'
                email_btn.removeAttribute('disabled', '');
		console.log(error);
           }
       });
    }
</script>
{% endblock %}
