body {
  }
.page    { display: none; padding: 0 0.5em; }
#loading {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    background-image: url("/static/assets/img/spinner.gif");
    background-repeat: no-repeat;
    background-position: center;
  }