{% extends 'admin-base.html' %}
{% load static %}
{% block content %}
<!-- Page Header -->
<div class="page-header">
    <div class="row align-items-center">
        <div class="col">
            <h3 class="page-title">Projects</h3>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                <li class="breadcrumb-item active">All Tasks</li>
            </ul>
        </div>
        <div class="col-auto float-right ml-auto">
            <a href="/work-management/create-task" class="btn add-btn"><i class="fa fa-plus"></i> Create New Task</a>
        </div>
    </div>
</div>
<!-- /Page Header -->

{% if messages %}
    {% for message in messages %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>{{message}}</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
    {% endfor %}
{% endif %}

<!-- Search Filter -->

<!-- /Search Filter -->

<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-bordered datatable">
                <thead class="thead-light">
                    <tr>
                        <th>#</th>
                        <th>Created Date</th>
                        <th>Subject</th>
                        <th>Assigned To</th>
                        <th>Assigned By</th>
                        <th>Priority</th>
                        <th>Status</th>
                        <th class="text-right">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in tasks_list %}
                    <tr>
                        <td>
                            <a href="/work-management/task-view/{{task.id}}">TaskID-{{task.id}}</a>
                        </td>
                        <td>{{task.created_date}}</td>
                        <td>{{task.subject}}</td>
                        <td>{{task.asigned_to.user.username}}</td>
                        <td>{{task.asigned_by.username}}</td>
                        <td>{{task.priority}}</td>

                        <td>
                            <!-- {% if task.status == 'Completed' %}
                                <i class="fa fa-dot-circle-o text-success"></i>
                                Completed
                            {% else %}
                                <i class="fa fa-dot-circle-o text-danger"></i>
                                Pending
                            {% endif %} -->
                            <div class="dropdown action-label">
                                <a class="btn btn-white btn-sm btn-rounded dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="false">
                                    {% if task.status is None %}
                                        <i class="fa fa-dot-circle-o text-danger"></i>Open
                                    {% elif task.status == 'Closed' %}
                                        <i class="fa fa-dot-circle-o text-success"></i>Closed
                                    {% elif task.status == 'In-Progress' %}
                                        <i class="fa fa-dot-circle-o text-warning"></i>In-Progress
                                    {% else %}
                                        <i class="fa fa-dot-circle-o text-danger"></i>Open
                                    {% endif %}
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="/work-management/tasks-list/status-update/{{task.id}}/Open/tasks-list"><i class="fa fa-dot-circle-o text-info"></i> Open</a>
                                    <a class="dropdown-item" href="/work-management/tasks-list/status-update/{{task.id}}/Closed/tasks-list"><i class="fa fa-dot-circle-o text-success"></i> Closed</a>
                                    <a class="dropdown-item" href="/work-management/tasks-list/status-update/{{task.id}}/In-Progress/tasks-list"><i class="fa fa-dot-circle-o text-warning"></i> In-Progress</a>
                                </div>
                            </div>
                        </td>
                        <td class="text-right">
                            <div class="dropdown dropdown-action">
                                <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="/work-management/create-task/{{task.id}}"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete_project{{task.id}}"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#move_task{{task.id}}"><i class="fa fa-users m-r-5"></i> re-assign</a>
                                </div>
                            </div>
                        </td>
                    </tr>

                    <div class="modal custom-modal fade" id="delete_project{{task.id}}" role="dialog">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <div class="form-header">
                                        <h3>Delete TaskID-{{task.id}}</h3>
                                        <p>Are you sure want to delete?</p>
                                    </div>
                                    <div class="modal-btn delete-action">
                                        <div class="row">
                                            <div class="col-6">
                                                <a href="/work-management/delete-task/{{task.id}}/tasks-list" class="btn btn-primary continue-btn">Delete</a>
                                            </div>
                                            <div class="col-6">
                                                <a href="javascript:void(0);" data-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="move_task{{task.id}}" class="modal custom-modal fade" role="dialog">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Re-Assign Task (Others)</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form action="/work-management/re-assign/{{task.id}}/task-view">
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label class="col-form-label">Users <span class="text-danger">*</span></label>
                                                    <select name="name" class="form-control select" required>
                                                        <option value="">Select User</option>
                                                        {% for user in users %}
                                                            <option value="{{user.user.username}}">{{user.user.username}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="submit-section">
                                            <button class="btn btn-primary submit-btn">Submit</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<div>
    {% if tasks_list.has_other_pages %}
        <ul class="pagination">
            {% if tenders.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="{{current_url}}page={{tasks_list.previous_page_number}}">Previous</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">Previous</a>
                </li>
            {% endif %}


            {% for page in tasks_list.paginator.page_range %}
                {% if tasks_list.number == page %}
                    <li class="page-item active">
                        <a class="page-link" href="{{current_url}}page={{page}}">{{ page }}</a>
                    </li>
                {% elif page > tasks_list.number|add:'-5' and page < tasks_list.number|add:'5' %}
                    <li class="page-item">
                        <a class="page-link" href="{{current_url}}page={{page}}">{{ page }}</a>
                    </li>
                {% endif %}
            {% endfor %}

            {% if tasks_list.has_next %}
                <li class="page-item">
                    <a class="page-link" href="{{current_url}}page={{tasks_list.next_page_number}}">Next</a>
                </li>
            {% else %}
                <li class="page-item disable">
                    <a class="page-link" href="#">Next</a>
                </li>
            {% endif %}
        </ul>
    {% endif %}
</div>

{% endblock %}