{% extends 'admin-base.html' %}
{% load static %}
{% load base_tags %}

{% block csslink %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css" integrity="sha256-ze/OEYGcFbPRmvCnrSeKbRTtjG4vGLHXgOqsyLFTRjg=" crossorigin="anonymous" />
{% endblock %}

{% block content %}
<!-- Page Header -->
<div class="page-header">
    <div class="row align-items-center">
        <div class="col">
            <h3 class="page-title">Job Advertisement</h3>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                <li class="breadcrumb-item active">Job List</li>
            </ul>
        </div>
        <div class="col-auto float-right ml-auto">
            <div class="btn-group btn-group-sm">
                <a href="/job-advertisement/job-bulk-upload" class="btn btn-white">Bulk Upload</a>
                <a href="#" data-toggle="modal" data-target="#create-new-edit-job-id" class="btn btn-white" onclick="clear_filled_datas();">New Job</a>
                {% if 'remainder-jobs' in request.get_full_path %}
                <a href="/job-advertisement/job-report-export" class="btn btn-white"><i class="fa fa-print fa-lg"></i>Export</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<!-- /Page Header -->

<!-- Search Filter -->
<div class="main-search">
    <form method="get">
        <div class="input-group">
            <input type="text" name="keyword" class="form-control" placeholder="Search.. date format (dd/mm/yyyy)">
            <div class="input-group-append">
                <input class="btn btn-primary" type="submit" value="Search">
            </div>
        </div>
    </form>
</div>
<div class="search-result">
    {% if keyword %}
        <h6>Search Result Found For:<u> {{keyword}}</u></h6>
    {% endif %}
    <h6>{{result_cnt}} Results found |
        {% if 'matured-jobs' in request.get_full_path %}
            <a href="/job-advertisement/job-list/matured-jobs" class="text-primary">Clear Filter</a>
        {% elif 'remainder-jobs' in request.get_full_path %}
            <a href="/job-advertisement/job-list/remainder-jobs" class="text-primary">Clear Filter</a>
        {% else %}
            <a href="/job-advertisement/job-list" class="text-primary">Clear Filter</a>
        {% endif %}
    </h6>
</div>
<!-- /Search Filter -->

{% if messages %}
    {% for message in messages %}
        {% if 'success' == message.tags %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>Message : {{message}}</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
        {% else %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Message : {{message}}</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
        {% endif %}
    {% endfor %}
{% endif %}


<div id="create-new-edit-job-id" class="modal model custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="job-title-id">Create Job</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" id="create-or-edit-job-form-id">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>D.O.Application</label>
                                <input id="do-app-id" class="form-control form-control-sm" max="2999-12-31" name="do-app" value="{{date_of_app}}" type="date" required>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Job Code</label>
                                <input id="job-code-id" class="form-control form-control-sm" name="job-code" value="{{job.job_code}}" placeholder="Ex: MCF-2023-1234567" type="text" required>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>No. Of Vacancy</label>
                                <input id="no-of-vacancy-id" class="form-control form-control-sm" name="no-vacany" value="{{job.no_of_vaccancies}}" placeholder="No. Of Vacancies" type="number" required>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Range</label>
                                <input id="range-id" class="form-control form-control-sm" name="range" value="{{job.range_field}}" type="text" placeholder="Enter Range" required>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Designation <span class="text-danger">*</span></label>
                                <input id="designation-id" class="form-control form-control-sm" name="designation" value="{{job.designation}}" type="text" placeholder="Enter: Designation" required>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Company <span class="text-danger"></span></label>
                                <select name="comp-name" id="select-state" class="form-control form-control-sm">
                                    <option value="">Select Company</option>
                                    {% for comp in companies %}
                                        {% if comp.company_name == job.comp_name.company_name %}
                                            <option value="{{comp.id}}" selected>{{comp.company_id}}-{{comp.company_name}}</option>
                                        {% else %}
                                            <option value="{{comp.id}}">{{comp.company_id}}-{{comp.company_name}}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div>
                        <input type="submit" class="btn btn-primary btn-sm" id="create-new-edit-job-id-submit-btn">
                        <div class="spinner-border spinner-border-sm" role="status"
                            id="create-new-edit-job-id-submit-spinner"
                            style="display: none;">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            {% if 'matured-jobs' in request.get_full_path %}
            <table class="table table-striped custom-table mb-0 datatable">
                <thead>
                    <tr>
                        <th style="text-align:center">PostDate</th>
                        <th style="text-align:center">JobCode</th>
                        <th style="text-align:center">ExpiryDate</th>
                        <th style="text-align:center">Designation</th>
                        <th style="text-align:center">CompanyName</th>
                        <th style="text-align:center">Date.of.Review</th>
                        <th style="text-align:center">No.of.App</th>
                        <th style="text-align:center">Review</th>
                        <th class="text-right">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for job in jobs_page %}
                    <tr>
                        <td style="text-align:center">{{job.date_of_app|date:"d/m/Y"|null_handle}}</td>
                        <td style="text-align:center">{{job.job_code}}</td>
                        <td style="text-align:center">{{job.expiry_date|date:"d/m/Y"|null_handle}}</td>
                        <!--<td style="text-align:center">-->
                        <!--    {% if job.expiry_date|remaining_days == 0 %}-->
                        <!--        <p class="badge bg-inverse-danger">Last Day</p>-->
                        <!--    {% else %}-->
                        <!--        <p class="badge bg-inverse-success">{{job.expiry_date|remaining_days}}</p>-->
                        <!--    {% endif %}-->
                        <!--</td>-->
                        <td style="text-align:center">{{job.designation}}</td>
                        <td style="text-align:center">{% if job.comp_name.company_name %}
                            {{job.comp_name.company_name}}
                            {% else %} - {% endif %}
                        </td>
                        <td style="text-align:center">{{job.date_of_review}}</td>
                        <td style="text-align:center">{{job.no_of_app}}</td>
                        <td style="text-align:center">
                            {% if job.date_of_review is not None  %}
                                <a href="#" class="badge bg-inverse-success" data-toggle="modal" data-target="#review{{job.id}}">Updated</a>
                            {% else %}
                                <a href="#" class="badge bg-inverse-warning" data-toggle="modal" data-target="#review{{job.id}}">Update</a>
                            {% endif %}
                        </td>
                        <td class="text-right">
                            <div class="dropdown dropdown-action">
                                <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#create-new-edit-job-id" onclick="get_job_details_load_function('{{job.id}}')"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete_job{{job.id}}"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                </div>
                            </div>
                        </td>

                        <div class="modal custom-modal fade" id="delete_job{{job.id}}" role="dialog">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <div class="form-header">
                                            <h3>Delete {{job.job_code}}</h3>
                                            <p>Are you sure want to delete?</p>
                                        </div>
                                        <div class="modal-btn delete-action">
                                            <div class="row">
                                                <div class="col-6">
                                                    <a href="/job-advertisement/delete-job/{{job.id}}" class="btn btn-primary continue-btn">Delete</a>
                                                </div>
                                                <div class="col-6">
                                                    <a href="javascript:void(0);" data-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="review{{job.id}}" class="modal custom-modal fade" role="dialog">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Update Job</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="/job-advertisement/job-review-update/{{job.id}}" method="post">
                                            {% csrf_token %}
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <label class="col-form-label">Date.of.Review <span class="text-danger">*</span></label>
                                                        <div class="cal-icon">
                                                            <input type="text" class="form-control datetimepicker" name="update_date_of_review" required>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-form-label">No. of Application <span class="text-danger">*</span></label>
                                                        <input type="number" class="form-control" name="update_no_of_app" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="submit-section">
                                                <input type="submit" class="btn btn-primary submit-btn">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% elif 'remainder-jobs' in request.get_full_path %}
            <table class="table table-striped custom-table mb-0 datatable">
                <thead>
                    <tr>
                        <th style="text-align:center">PostDate</th>
                        <th style="text-align:center">JobCode</th>
                        <th style="text-align:center">Expiry</th>
                        <!-- <th style="text-align:center">Re.Days</th> -->
                        <th style="text-align:center">CompanyName</th>
                        <th class="text-right">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for job in jobs_page %}
                        <tr>
                            <td style="text-align:center">{{job.date_of_app|date:"d/m/Y"|null_handle}}</td>
                            <td style="text-align:center">{{job.job_code}}</td>
                            <td style="text-align:center">{{job.expiry_date|date:"d/m/Y"|null_handle}}</td>
                            <!--<td style="text-align:center">-->
                            <!--    {% if job.expiry_date|remaining_days == 0 %}-->
                            <!--        <p class="badge bg-inverse-danger">Last Day</p>-->
                            <!--    {% else %}-->
                            <!--        <p class="badge bg-inverse-success">{{job.expiry_date|remaining_days}}</p>-->
                            <!--    {% endif %}-->
                            <!--</td>-->
                            <td style="text-align:center">{% if job.comp_name.company_name %}
                                {{job.comp_name.company_name}}
                                {% else %} - {% endif %}
                            </td>
                            <td class="text-right">
                                <div class="dropdown dropdown-action">
                                    <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#create-new-edit-job-id" onclick="get_job_details_load_function('{{job.id}}')"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete_job{{job.id}}"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                    </div>
                                </div>
                            </td>

                            <div class="modal custom-modal fade" id="delete_job{{job.id}}" role="dialog">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <div class="form-header">
                                                <h3>Delete {{job.job_code}}</h3>
                                                <p>Are you sure want to delete?</p>
                                            </div>
                                            <div class="modal-btn delete-action">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <a href="/job-advertisement/delete-job/{{job.id}}" class="btn btn-primary continue-btn">Delete</a>
                                                    </div>
                                                    <div class="col-6">
                                                        <a href="javascript:void(0);" data-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <table class="table table-striped custom-table mb-0 datatable">
                <thead>
                    <tr>
                        <th style="text-align:center">PostDate</th>
                        <th style="text-align:center">JobCode</th>
                        <th style="text-align:center">ExpiryDate</th>
                        <th style="text-align:center">SalaryRange</th>
                        <th style="text-align:center">Designation</th>
                        <th style="text-align:center">CompanyName</th>
                        <th style="text-align:center">No.of.Vac</th>
                        <th style="text-align:center">No.of.App</th>
                        <th class="text-right">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for job in jobs_page %}
                    <tr>
                        <td style="text-align:center">{{job.date_of_app|date:"d/m/Y"|null_handle}}</td>
                        <td style="text-align:center">{{job.job_code}}</td>
                        <td style="text-align:center">{{job.expiry_date|date:"d/m/Y"|null_handle}}</td>
                        <td style="text-align:center">{% if job.range %}
                                {{job.range}}
                            {% else %} 0
                            {% endif %}
                        </td>
                        <td style="text-align:center">{{job.designation}}</td>
                        <td style="text-align:center">{% if job.comp_name.company_name %}
                            {{job.comp_name.company_name}}
                            {% else %} - {% endif %}
                        </td>
                        <td style="text-align:center">{{job.no_of_vaccancies}}</td>
                        <td style="text-align:center">{{job.no_of_app}}</td>

                        <td class="text-right">
                            <div class="dropdown dropdown-action">
                                <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#create-new-edit-job-id" onclick="get_job_details_load_function('{{job.id}}')"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete_job{{job.id}}"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                </div>
                            </div>
                        </td>

                        <div class="modal custom-modal fade" id="delete_job{{job.id}}" role="dialog">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <div class="form-header">
                                            <h3>Delete {{job.job_code}}</h3>
                                            <p>Are you sure want to delete?</p>
                                        </div>
                                        <div class="modal-btn delete-action">
                                            <div class="row">
                                                <div class="col-6">
                                                    <a href="/job-advertisement/delete-job/{{job.id}}" class="btn btn-primary continue-btn">Delete</a>
                                                </div>
                                                <div class="col-6">
                                                    <a href="javascript:void(0);" data-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
            <div>
                {% if jobs_page.has_other_pages %}
                    <ul class="pagination">
                        {% if jobs_page.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="{{current_url}}page={{jobs_page.previous_page_number}}">Previous</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1">Previous</a>
                            </li>
                        {% endif %}


                        {% for page in jobs_page.paginator.page_range %}
                            {% if jobs_page.number == page %}
                                <li class="page-item active">
                                    <a class="page-link" href="{{current_url}}page={{page}}">{{ page }}</a>
                                </li>
                            {% elif page > jobs_page.number|add:'-5' and page < jobs_page.number|add:'5' %}
                                <li class="page-item">
                                    <a class="page-link" href="{{current_url}}page={{page}}">{{ page }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}

                        {% if jobs_page.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="{{current_url}}page={{jobs_page.next_page_number}}">Next</a>
                            </li>
                        {% else %}
                            <li class="page-item disable">
                                <a class="page-link" href="#">Next</a>
                            </li>
                        {% endif %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block jslink %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js" integrity="sha256-+C0A5Ilqmu4QcSPxrlGpaZxJ04VjsRjKu+G82kl5UJk=" crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
      $('select').selectize({
      });
  });
</script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    $("#create-or-edit-job-form-id").submit(function (e) {
        get_spinner = document.getElementById('create-new-edit-job-id-submit-spinner');
        submit_btn = document.getElementById('create-new-edit-job-id-submit-btn');
        formrowid = document.getElementById('create-or-edit-job-form-id').getAttribute('rowid');

        submit_btn.setAttribute('disabled', '');
        e.preventDefault();
        var formData = new FormData(this);

        if (formrowid == null){
            var job_url = `/job-advertisement/create-job`;
        } else {
            var job_url = `/job-advertisement/create-job/${formrowid}`;
        }
        $.ajax({
                type: 'POST',
                url: job_url,
                data: formData,
                processData: false,
                contentType: false,
                success: function (res) {
                    get_spinner.style.display = 'none';
                    submit_btn.removeAttribute('disabled', '');
                    console.log(res);
                    if (res.status != 'success') {
                        Swal.fire({
                            icon: 'error',
                            text: res.msg,
                        })
                    } else {
                        Swal.fire({
                            icon: 'success',
                            text: res.msg,
                        })
                    }
                },
                error: function (error) {
                    get_spinner.style.display = 'none';
                    submit_btn.removeAttribute('disabled', '');
                    Swal.fire({
                        icon: 'error',
                        title: 'Something Wrong',
                    })
                }
            });
    });


    function get_job_details_load_function(jid){
        $.ajax({
                type: 'GET',
                url: `/job-advertisement/create-job/${jid}`,
                processData: false,
                contentType: false,
                success: function (res) {
                    document.getElementById('job-title-id').innerText = 'Edit Job';
                    document.getElementById('create-or-edit-job-form-id').setAttribute('rowid', jid);

                    document.getElementById('do-app-id').value = res.date_of_app;
                    document.getElementById('job-code-id').value = res.job_code;
                    document.getElementById('no-of-vacancy-id').value = res.no_of_vaccancies;
                    document.getElementById('range-id').value = res.range_field;
                    document.getElementById('designation-id').value = res.designation;
                    document.getElementById('select-state').selectize.addItems(res.company);
                },
                error: function (error) {
                    
                }
            });
    };

    function clear_filled_datas(){
        document.getElementById('job-title-id').innerText = 'Create Job';
        var jform = document.getElementById('create-or-edit-job-form-id')
        jform.removeAttribute('rowid');
        jform.reset();
        document.getElementById('select-state').selectize.clear();
    };
</script>
{% endblock %}
